# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
node_modules/
.pnp.*
.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/sdks
!.yarn/versions

# build
.turbo
tsconfig.tsbuildinfo

# generated
**/*.generated.*
**/*.graphql.d.ts
**/*.graphqls.d.ts

# testing
coverage

# next.js
.next/
.nextron/
out/

# production
build
dist

# misc
.DS_Store
*.pem

# debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# local env files
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# deployment
.vercel

# IDE
!.vscode
.idea/**/*
# Local Netlify folder
.netlify
