# dependencies
node_modules
.pnp
.pnp.js

# testing
coverage

# build
tsconfig.tsbuildinfo

# next.js
.next/
out/
build

# misc
.DS_Store
*.pem

# debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*

# local env files
.env
.env.local
.env.development.local
.env.test.local
.env.production.local
.api_keys   

# turbo
.turbo

# prisma
prisma/.env
prisma/.env.development
prisma/.env.test
prisma/.env.production
prisma/ens_resolver.log