# Setup the NPM registry for CI or deployments.
# https://saas-ui.dev/docs/pro/installation/npm#manual--ci-configuration

# @saas-ui:registry=https://npm.saas-ui.dev/
# //npm.saas-ui.dev/:_auth="${SAAS_UI_TOKEN}"
# //npm.saas-ui.dev/:always-auth=true