@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 222.2 84% 4.9%;

    --muted: 210 40% 96.1%;
    --muted-foreground: 215.4 16.3% 46.9%;

    --popover: 0 0% 100%;
    --popover-foreground: 222.2 84% 4.9%;

    --card: 0 0% 100%;
    --card-foreground: 222.2 84% 4.9%;

    --border: 214.3 31.8% 91.4%;
    --input: 214.3 31.8% 91.4%;

    --primary: 222.2 47.4% 11.2%;
    --primary-foreground: 210 40% 98%;

    --secondary: 210 40% 96.1%;
    --secondary-foreground: 222.2 47.4% 11.2%;

    --accent: 210 40% 96.1%;
    --accent-foreground: 222.2 47.4% 11.2%;

    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 210 40% 98%;

    --ring: 215 20.2% 65.1%;

    --radius: 0.5rem;
  }

  .dark {
    --background: 222.2 84% 4.9%;
    --foreground: 210 40% 98%;

    --muted: 217.2 32.6% 17.5%;
    --muted-foreground: 215 20.2% 65.1%;

    --popover: 222.2 84% 4.9%;
    --popover-foreground: 210 40% 98%;

    --card: 222.2 84% 4.9%;
    --card-foreground: 210 40% 98%;

    --border: 217.2 32.6% 17.5%;
    --input: 217.2 32.6% 17.5%;

    --primary: 210 40% 98%;
    --primary-foreground: 222.2 47.4% 11.2%;

    --secondary: 217.2 32.6% 17.5%;
    --secondary-foreground: 210 40% 98%;

    --accent: 217.2 32.6% 17.5%;
    --accent-foreground: 210 40% 98%;

    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 85.7% 97.3%;

    --ring: 217.2 32.6% 17.5%;
  }
}

.container.mx-auto.py-10 {
  padding-right: 0.2rem;
  padding-left: 0.2rem;
}
.socials-btn-wrp {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  margin-top: 20px;
}
.socials-btn-wrp .block {
  margin-bottom: 20px;
}
.mr-2.h-8.w-8.rounded-full {
  height: auto;
  width: auto;
}

.custom-filter-platforms {
  text-align: center;
  margin-bottom: 0px !important;
}

.custom-filter-platforms-icons {
  display: flex;
  flex-wrap: wrap;
  margin-top: 20px;
  justify-content: center;
}

.responsive-social-table td:first-child svg {
  width: 20px;
  flex: 0 0 20px;
}
.text-3xl {
  font-size: 2rem;
}

.custom-avatar svg {
  margin-right: 5px;
}
.custom-cursor {
  cursor: pointer;
}

.custom-span {
  position: relative;
}
.custom-facopy {
  color: #9ca3a3;
}

.ais-HierarchicalMenu-item--selected {
  a,
  a:hover {
    color: inherit !important;
  }
}

.ais-Pagination-item--selected {
  a,
  a:hover {
    color: inherit !important;
  }
}

.ais-RatingMenu-item--selected {
  a,
  a:hover {
    color: inherit !important;
  }
}

// Rating icon
.ais-RatingMenu-starIcon {
  position: relative;
  top: -1px;
  width: 15px;
  fill: #ffc168;
}

.marker-highlight {
  margin: 0 -0.4em;
  padding: 0.1em 0.4em;
  border-radius: 0.8em 0.3em;
  background: transparent
    linear-gradient(
      to right,
      rgba(255, 225, 0, 0.1),
      rgba(255, 225, 0, 0.7) 4%,
      rgba(255, 225, 0, 0.3)
    );
  -webkit-box-decoration-break: clone;
  box-decoration-break: clone;
}

.btn {
  background: none;
  border: none;
  padding: 0;
  color: inherit;
  text-align: inherit;
  -webkit-appearance: none;
  -moz-appearance: none;
}

.btn-secondary {
  color: #fff;
  background-color: #6c757d;
  border-color: #6c757d;
}
.btn-sm {
  padding: 0.25rem 0.5rem;
  font-size: 0.875rem;
  line-height: 1.5;
  border-radius: 0.2rem;
}

.list-unstyled {
  padding-left: 0;
  list-style: none;
}
// Hierarchical Menu


.ais-HierarchicalMenu-showMore {
  @extend .btn, .btn-secondary, .btn-sm;
}

.ais-HierarchicalMenu-list {
  @extend .list-unstyled;
}

.ais-HierarchicalMenu-list--child {
  @extend .ms-4;
}

.ais-HierarchicalMenu-count {
  @extend .badge, .text-dark-2, .ms-1;
}

.ais-HierarchicalMenu-link {
  @extend .text-dark, .text-decoration-none;
}

.ais-HierarchicalMenu-item--selected {
  @extend .text-primary, .fw-bold;
}

// .ais-HierarchicalMenu-item--parent {
//   @extend .text-dark, .fw-bold;
// }

// Brand Filter

.ais-RefinementList-searchBox input {
  @extend .form-control, .form-control-sm, .form-control-secondary, .mb-2;
}

.ais-RefinementList-searchBox button[type="submit"] {
  @extend .d-none;
}

.ais-RefinementList-searchBox button[type="reset"] {
  @extend .d-none;
}

.ais-RefinementList-showMore {
  @extend .btn, .btn-secondary, .btn-sm;
}

.ais-RefinementList-list {
  @extend .list-unstyled;
}

.ais-RefinementList-count {
  @extend .badge, .text-dark-2, .ms-2;
}

.ais-RefinementList-label {
  @extend .d-flex, .align-items-center, .mb-2;
}

.ais-RefinementList-checkbox {
  margin-right: 0.5rem;
  padding: 10px;
  // BIGGER CHECKBOX
  height: 1rem;
}

.ais-RefinementList-labelText {
  font-size: 1rem;
  font-weight: 400;
  
  font-family: 'Inter', sans-serif;
}
.ais-ToggleRefinement-label {
  @extend .d-flex, .align-items-center;
}

.ais-ToggleRefinement-checkbox {
 
@extend .me-2;
}

// Rating Menu

.ais-RatingMenu-list {
  @extend .list-unstyled;
}
.ais-RatingMenu-link {
  @extend .text-decoration-none;
}
//.ais-RatingMenu-starIcon { @extend null; }
.ais-RatingMenu-count {
  @extend .badge, .text-dark-2, .ms-2;
}
.ais-RatingMenu-disabledItem {
  @extend .text-muted;
}
.ais-RatingMenu-selectedItem {
  @extend .fw-bold, .text-primary;
}

// Clear Refinements

.ais-ClearRefinements-button {
  display: inline-flex; 
  justify-content: center; 
  align-items: center; 
  border-radius: 0.375rem; 
  border-width: 1px; 
  font-size: 0.875rem;
  line-height: 1.25rem; 
  font-weight: 500; 
  background-color: transparent; 
  transition-property: color, background-color, border-color, text-decoration-color, fill, stroke;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 300ms; 
  
  
  
  
  
  
  
  }
  .dropdown-menu-scrollbar::-webkit-scrollbar {
    display: none;
  }
  
  /* Hide scrollbar for IE, Edge, and Firefox on elements with class .dropdown-menu-scrollbar */
  .dropdown-menu-scrollbar {
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
  }

.btn { display: inline-block; padding: 6px 12px; text-align: center; vertical-align: middle; }
.btn-primary { background-color: #007bff; border-color: #007bff; color: #fff; }
.btn-secondary { background-color: #6c757d; border-color: #6c757d; color: #fff; }
.btn-sm { padding: 5px 10px; font-size: 12px; }
.list-unstyled { list-style: none; padding: 0; }
.ms-4 { margin-left: 1.5rem; }
.ms-2 { margin-left: 0.5rem; }
.badge {
    display: inline-block;
    padding: 0.3em 0em;
    font-size: 75%;
    font-weight: 300;
    line-height: 1;
    text-align: center;
    white-space: nowrap;
    vertical-align: baseline;
  
}
.text-dark-2 { color: #343a40; }
.ms-1 { margin-left: 0.25rem; }
.text-dark { color: #343a40; }
.text-decoration-none { text-decoration: none; }
.text-primary { color: #007bff; }
.fw-bold { font-weight: bold; }
.form-control, .form-control-sm {
  display: block;
  width: 100%;
  padding: 0.5rem 0.75rem;
  font-size: 1rem;
  line-height: 1.5;
  color: #495057;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid #ced4da;
  border-radius: 0.25rem;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.form-control-sm {
  padding: 0.25rem 0.5rem;
  font-size: 0.875rem;
}

.form-control:focus {
  color: #495057;
  background-color: #fff;
  border-color: #495057;
  outline: 0;
  box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25);
}

::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: #6c757d;
  opacity: 1; /* Firefox */
}

:-ms-input-placeholder { /* Internet Explorer 10-11 */
  color: #6c757d;
}

::-ms-input-placeholder { /* Microsoft Edge */
  color: #6c757d;
}

.ais-HierarchicalMenu-label{
  display: inline-flex; 
padding-top: 0.125rem;
padding-bottom: 0.125rem; 
padding-left: 0.625rem;
padding-right: 0.625rem; 
align-items: center; 
border-radius: 0.375rem; 
border-width: 1px; 
font-size: 0.75rem;
line-height: 1rem; 
font-weight: 600; 
transition-property: color, background-color, border-color, text-decoration-color, fill, stroke;
transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
transition-duration: 300ms; 

}
.ais-HierarchicalMenu-count { 
// nice badges
display: inline-flex; 
padding-top: 0.125rem;
padding-bottom: 0.125rem; 
padding-left: 0.625rem;
padding-right: 0.625rem; 
align-items: center; 
border-radius: 0.375rem; 
border-width: 1px; 
border-color: transparent; 
font-size: 0.75rem;
line-height: 1rem; 
font-weight: 600; 
background-color: #F3F4F6; 
transition-property: color, background-color, border-color, text-decoration-color, fill, stroke;
transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
transition-duration: 300ms; 


 }

.form-control-secondary { background-color: white; border-color: #9ca3a3; color: #495057; border-width: 1px; }
.mb-2 { margin-bottom: 0.5rem; }
.d-none { display: none; }
.d-flex { display: flex; }
.align-items-center { align-items: center; }
.me-2 { margin-right: 0.5rem; }
.text-muted { color: #6c757d; }
.ais-SearchBox-loadingIndicator {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  pointer-events: none;
}
