@tailwind base;
@tailwind components;
@tailwind utilities;

::selection {
  background: #4c0067;
  color: #fff;
}

@layer base {
  :root {
    --background: 276.23 100% 98.25%;
    --foreground: 276 56% 2%;
    --muted: 246 27% 86%;
    --muted-foreground: 246 6% 32%;
    --popover: 276 48% 99%;
    --popover-foreground: 276 56% 2%;
    --card: 298.87 0% 100%;
    --card-foreground: 276 56% 2%;
    --border: 276 4% 92%;
    --input: 276 4% 92%;
    --primary: 276 60% 32%;
    --primary-foreground: 276 60% 92%;
    --secondary: 246 60% 32%;
    --secondary-foreground: 246 60% 92%;
    --accent: 306 60% 32%;
    --accent-foreground: 306 60% 92%;
    --destructive: 16 95% 43%;
    --destructive-foreground: 0 0% 100%;
    --ring: 276 60% 32%;
    --radius: 0.5rem;
  }

  .dark {
    --background: 276 39% 3%;
    --foreground: 276 22% 98%;
    --muted: 246 27% 14%;
    --muted-foreground: 246 6% 68%;
    --popover: 276 39% 3%;
    --popover-foreground: 276 22% 98%;
    --card: 276 39% 3%;
    --card-foreground: 276 22% 98%;
    --border: 276 4% 13%;
    --input: 276 4% 13%;
    --primary: 276 60% 32%;
    --primary-foreground: 276 60% 92%;
    --secondary: 246 60% 32%;
    --secondary-foreground: 246 60% 92%;
    --accent: 306 60% 32%;
    --accent-foreground: 306 60% 92%;
    --destructive: 16 95% 58%;
    --destructive-foreground: 0 0% 0%;
    --ring: 276 60% 32%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
